@model E_Commerce.ViewModels.UserPageInfo

@{
                /**/

                ViewBag.Title = "Index";
}
<p>

    <h2>@Html.ActionLink("My Cart", "cart", new { id = Model.user.ID })</h2>
    @Html.ActionLink("Find Friends", "Search", new { id = Model.user.ID })
</p>

<div>

    <hr />
    <h4>Personal information</h4>
    <dl class="dl-horizontal">
        <dd>
            <img class="circular_image" src=" @Html.DisplayFor(model => model.user.Image)" width="100" height="140" />
        </dd>
        <dt>
            Full Name:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user.FirstName)
            @Html.DisplayFor(model => model.user.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.user.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.user.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Mobile)
        </dd>

    </dl>
    <hr />
</div>
<div align="center">
    @foreach (var item in Model.Products)
    {
        <div>
            <h2> @Html.DisplayFor(modelItem => item.title)</h2>
        </div>
       <div>
            <h2>$ @Html.DisplayFor(modelItem => item.cost)</h2>
        </div>
        <div>
            <img src=" @Html.DisplayFor(modelItem => item.image)" width="450" height="450" />
        </div>
        <div>
            @Html.ActionLink("Add To Cart", "cartfun", new { id = item.ID, id2 = Model.user.ID },
                new { @class = "btn btn-primary", @style = "color:white" })

        </div>
        <hr />
    }
</div>

